<h3 class="text-center my-3">Edit Student</h3>
<div *ngIf="add_success" class="alert alert-success text-center" role="alert">
  Student <strong>Updated</strong> &nbsp;<a class="alert-link" routerLink="/studentData">Student Data</a>&nbsp;Give it a
  click if
  you like to Check a Record.
</div>
<div class="container">

  <form [formGroup]='studentForm' (ngSubmit)="save()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" placeholder="Enter First Name" formControlName="name">
      <!-- <input type="text" class="form-control" placeholder="Enter First Name" formControlName="id"> -->
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>s
      <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname">
    </div>


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" required class="form-control" placeholder="Enter Email" formControlName="email">
    </div>


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Contact</label>
      <input type="text" class="form-control" placeholder="Enter Contact Number" formControlName="contact">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Designation</label>
      <input type="text" class="form-control" placeholder="Enter Designation" formControlName="Designation">
    </div>


    <div class="mb-3">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select Gender
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item item-hover" (click)="setgender('Male')" style="cursor: pointer;">Male</a></li>
          <li><a class="dropdown-item item-hover" (click)="setgender('Female')" style="cursor: pointer;">Female</a></li>
        </ul>
      </div>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="studentForm.invalid">Update</button>
    </div>
  </form>
</div>
